@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,400;0,700;0,900;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Lato', sans-serif;
}

#stickyBar-text {
  font-family: 'Bebas Neue', sans-serif;
}

h1, .number-letter {
  font-family: 'Oswald', sans-serif;
  font-weight: 900;
}

.active {
  background-color: white;
}

.active-link {
  background-color: #b0b4be;
  color: #3b485f;
  padding-left: 12px;
  padding-right: 12px;
  text-decoration:1px underline;
  text-underline-offset: 4px
}